
      
        <br>
        <br>
        </div> // Content Wrap
        <footer id="footer">
            <br>
            <hr>
            <p class="foot">Create, share and print your own recipe collections from every trip and for every season!</p>
        </footer>
    </div> // Page Container
    <br>
    <br>
</body>

</html>