<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% if (stylesheet) { %>
        <link rel="stylesheet" type="text/css" href="<%= stylesheet %>">
    <% } %>
    <link rel="icon" type="image/x-icon" href="/images/Logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,-25" />
    <meta name="google-site-verification" content="wDfijw6MNVShFv79YH98WJ0Vd56WH7Ag4gy99HQvWNU" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <nav>
                <div id="nav">
                    <div class="nav-navigation-elements">
                        <a href="/" id="nav-div-logo"><img src="/images/Logo.png" width="50px" href="/" class="home"></a>
                        <div id="nav-recipes-element-container" class="nav-element-container">
                            <div id="nav-recipes-title" class="nav-element-title">Recipes</div>
                            <div id="nav-recipes-search" class="nav-element-content-start material-symbols-outlined"><a href="/recipes" class="nav-icon-links" title="Browse Recipes">search</a></div>
                            <div id="nav-recipes-add" class="nav-element-content-start material-symbols-outlined"><a href="/recipes/add" class="nav-icon-links" title="Add a Recipe">add_circle</a></div>
                        </div>

                        <div id="nav-collections-element-container" class="nav-element-container">
                            <div id="nav-collections-title" class="nav-element-title">Collections</div>
                            <div id="nav-collections-search" class="nav-element-content-start material-symbols-outlined"><a href="/collections" class="nav-icon-links" title="Browse Collections">search</a></div>
                            <div id="nav-collections-add" class="nav-element-content-start material-symbols-outlined"><a href="/collections/create" class="nav-icon-links" title="Create a Collection">add_circle</a></div>
                        </div>

                        <% if (user) { %>
                        <div id="nav-my-kitchen-element-container" class="nav-element-container">
                            <div id="nav-my-kitchen-title" class="nav-element-title">My Kitchen</div>
                            <div id="nav-my-kitchen-recipes" class="nav-element-content-start material-symbols-outlined"><a href="/my-recipes" class="nav-icon-links" title="My Recipes">article</a></div>
                            <div id="nav-my-kitchen-collections" class="nav-element-content-start material-symbols-outlined"><a href="/my-collections" class="nav-icon-links" title="My Collections">menu_book</a></div>
                        </div>
                        <% } %>
                        
                    </div>


                    <div id="nav-user-elements">
                        <% if (user) { %>
                        <div id="nav-user-elements-profile" class="material-symbols-outlined">account_circle</div>
                        <% } %>
                        <div id="nav-user-elements-login-logout">
                            <% if (user) { %>
                                <a href="/logout" id="nav-LogOut" class="nav-element" class="login">
                                    <div class="nav-element-item" class="login">Log Out</div>
                                </a>
                            <% } else { %>
                                <a href="/auth/google"  id="nav-LogOut" class="nav-element">
                                    <div class="nav-element-item" class="login">Log In</div>
                                </a>
                            <% } %>
                        </div>
                    </div> 
                </div> 
                
                <div id="burger-nav">
                    <div class="burger-nav-navigation-elements">
                        <!-- <a href="/" id="burger-nav-div-logo"><img src="/images/Logo.png" width="50px" href="/" class="home"></a> -->
                        <div id="burger-nav-menu-control">
                            <div id="burger-nav-menu" class="burger-nav-icon-links material-symbols-outlined" title="Menu">menu</div>
                            <div id="burger-nav-menu-close" class="burger-nav-icon-links material-symbols-outlined" title="Close">close</div>
                        </div>

                        <div id="burger-nav-recipes-element-container" class="burger-nav-element-container">
                            <div id="burger-nav-recipes-add" class="burger-nav-element-sub-content burger-nav-element-recipes-sub-content burger-nav-element-content-hidden material-symbols-outlined"><a href="/recipes/add" class="burger-nav-element-content burger-nav-icon-links" title="Add a Recipe">add_circle</a></div>
                            <div id="burger-nav-recipes-search" class="burger-nav-element-sub-content burger-nav-element-recipes-sub-content burger-nav-element-content-hidden material-symbols-outlined"><a href="/recipes" class="burger-nav-element-content burger-nav-icon-links" title="Browse Recipes">search</a></div>
                            <div id="burger-nav-recipes-title" class="burger-nav-element-content">Recipes</div>
                        </div>

                        <div id="burger-nav-collections-element-container" class="burger-nav-element-container">
                            <div id="burger-nav-collections-add" class="burger-nav-element-sub-content burger-nav-element-collections-sub-content burger-nav-element-content-hidden material-symbols-outlined"><a href="/collections/create" class="burger-nav-element-content burger-nav-icon-links" title="Create a Collection">add_circle</a></div>
                            <div id="burger-nav-collections-search" class="burger-nav-element-sub-content burger-nav-element-collections-sub-content burger-nav-element-content-hidden material-symbols-outlined"><a href="/collections" class="burger-nav-element-content burger-nav-icon-links" title="Browse Collections">search</a></div>
                            <div id="burger-nav-collections-title" class="burger-nav-element-content">Collections</div>
                        </div>
                        
                        <% if (user) { %>
                            <div id="burger-nav-my-kitchen-element-container" class="burger-nav-element-container">
                                <div id="burger-nav-my-kitchen-collections" class="burger-nav-element-sub-content burger-nav-element-my-kitchen-sub-content burger-nav-element-content-hidden material-symbols-outlined"><a href="/my-collections" class="burger-nav-element-content burger-nav-icon-links" title="My Collections">menu_book</a></div>
                                <div id="burger-nav-my-kitchen-recipes" class="burger-nav-element-sub-content burger-nav-element-my-kitchen-sub-content burger-nav-element-content-hidden material-symbols-outlined"><a href="/my-recipes" class="burger-nav-element-content burger-nav-icon-links" title="My Recipes">article</a></div>
                                <div id="burger-nav-my-kitchen-title" class="burger-nav-element-content">My Kitchen</div>
                            </div>
                       
                            <div id="burger-nav-account-element-container" class="burger-nav-element-container">
                                <div id="burger-nav-account-LogOut" class="burger-nav-element-sub-content burger-nav-element-account-sub-content burger-nav-element-content-hidden material-symbols-outlined"><a href="/logout"  class="burger-nav-element-content burger-nav-element logout">Log Out</a></div>
                                <div id="burger-nav-account-profile" class="burger-nav-element-sub-content burger-nav-element-account-sub-content burger-nav-element-content-hidden material-symbols-outlined"><a href="/profile" class="burger-nav-element-content burger-nav-icon-links" title="Profile">account_circle</a></div>
                                <div id="burger-nav-account-title" class="burger-nav-element-content">Account</div>
                            </div>
                        
                        <% } else { %>
                            <div id="burger-nav-account-element-container" class="burger-nav-element-container"></div>
                                <div id="burger-nav-account-LogIn" class="burger-nav-element-content material-symbols-outlined"><a href="/auth/google"  class="burger-nav-element-content login">Log In</a></div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </nav> 
            <br>    
        
<script>
const navRecipeTitleContainerEl = document.getElementById('nav-recipes-element-container')
const navRecipeSearch = document.getElementById('nav-recipes-search')
const navRecipeAdd = document.getElementById('nav-recipes-add')

navRecipeTitleContainerEl.onmouseover = function() {
    console.log("Recipes Mouse Over Hit");

    if(navRecipeSearch.classList.contains('nav-element-content-start')) {
        navRecipeSearch.classList.remove('nav-element-content-start');
        navRecipeSearch.classList.add('nav-element-content-revealed');
        navRecipeAdd.classList.remove('nav-element-content-start');
        navRecipeAdd.classList.add('nav-element-content-revealed');
    } else {
        navRecipeSearch.classList.remove('nav-element-content-hidden');
        navRecipeSearch.classList.add('nav-element-content-revealed');
        navRecipeAdd.classList.remove('nav-element-content-hidden');
        navRecipeAdd.classList.add('nav-element-content-revealed');
    }
}

navRecipeTitleContainerEl.onmouseleave = function() {
    console.log("Recipes Mouse Leave Hit");
    navRecipeSearch.classList.remove('nav-element-content-revealed');
    navRecipeSearch.classList.add('nav-element-content-hidden');
    navRecipeAdd.classList.remove('nav-element-content-revealed');
    navRecipeAdd.classList.add('nav-element-content-hidden');
}


const navCollectionTitleContainerEl = document.getElementById('nav-collections-element-container')
const navCollectionSearch = document.getElementById('nav-collections-search')
const navCollectionAdd = document.getElementById('nav-collections-add')

navCollectionTitleContainerEl.onmouseover = function() {
    console.log("Collections Mouse Over Hit");

    if(navCollectionSearch.classList.contains('nav-element-content-start')) {
        navCollectionSearch.classList.remove('nav-element-content-start');
        navCollectionSearch.classList.add('nav-element-content-revealed');
        navCollectionAdd.classList.remove('nav-element-content-start');
        navCollectionAdd.classList.add('nav-element-content-revealed');
    } else {
        navCollectionSearch.classList.remove('nav-element-content-hidden');
        navCollectionSearch.classList.add('nav-element-content-revealed');
        navCollectionAdd.classList.remove('nav-element-content-hidden');
        navCollectionAdd.classList.add('nav-element-content-revealed');
    }
}

navCollectionTitleContainerEl.onmouseleave = function() {
    console.log("Recipes Mouse Leave Hit");
    navCollectionSearch.classList.remove('nav-element-content-revealed');
    navCollectionSearch.classList.add('nav-element-content-hidden');
    navCollectionAdd.classList.remove('nav-element-content-revealed');
    navCollectionAdd.classList.add('nav-element-content-hidden');
}

const navMyKitchenTitleContainerEl = document.getElementById('nav-my-kitchen-element-container')
const navMyKitchenRecipes = document.getElementById('nav-my-kitchen-recipes')
const navMyKitchenCollections = document.getElementById('nav-my-kitchen-collections')

if(navMyKitchenRecipes) {
    navMyKitchenTitleContainerEl.onmouseover = function() {
    console.log("My Kitchen Mouse Over Hit");

        if(navMyKitchenRecipes.classList.contains('nav-element-content-start')) {
            navMyKitchenRecipes.classList.remove('nav-element-content-start');
            navMyKitchenRecipes.classList.add('nav-element-content-revealed');
            navMyKitchenCollections.classList.remove('nav-element-content-start');
            navMyKitchenCollections.classList.add('nav-element-content-revealed');
        } else {
            navMyKitchenRecipes.classList.remove('nav-element-content-hidden');
            navMyKitchenRecipes.classList.add('nav-element-content-revealed');
            navMyKitchenCollections.classList.remove('nav-element-content-hidden');
            navMyKitchenCollections.classList.add('nav-element-content-revealed');
        }
    }
}

if(navMyKitchenRecipes) {
    navMyKitchenTitleContainerEl.onmouseleave = function() {
        console.log("Recipes Mouse Leave Hit");
        navMyKitchenRecipes.classList.remove('nav-element-content-revealed');
        navMyKitchenRecipes.classList.add('nav-element-content-hidden');
        navMyKitchenCollections.classList.remove('nav-element-content-revealed');
        navMyKitchenCollections.classList.add('nav-element-content-hidden');
    }
}




// Burger Nav Script

const burgerNavMenu = document.getElementById('burger-nav-menu')
const burgerNavMenuClose = document.getElementById('burger-nav-menu-close')
const burgerNavContentEls = document.getElementsByClassName('burger-nav-element-content')
const burgerNavSubContentEls = document.getElementsByClassName('burger-nav-element-sub-content')
const burgerNavRecipeSubContentEls = document.getElementsByClassName('burger-nav-element-recipes-sub-content')
const burgerNavCollectionSubContentEls = document.getElementsByClassName('burger-nav-element-collections-sub-content')
const burgerNavMyKitchenSubContentEls = document.getElementsByClassName('burger-nav-element-my-kitchen-sub-content')
const burgerNavAccountSubContentEls = document.getElementsByClassName('burger-nav-element-account-sub-content')


burgerNavMenu.onclick = function() {
    setBurgerNavSubElsToHidden()
    burgerNavMenu.style.display = 'none'
    burgerNavMenuClose.style.display = 'flex'
    Array.from(burgerNavContentEls).forEach(element => {
        element.style.display = 'flex'
    });
}

burgerNavMenuClose.onclick = function() {
    setBurgerNavSubElsToHidden()
    burgerNavMenu.style.display = 'flex'
    burgerNavMenuClose.style.display = ''
    Array.from(burgerNavContentEls).forEach(element => {
        element.style.display = ''
    });
}



const burgerNavRecipeTitle = document.getElementById('burger-nav-recipes-title') 
const burgerNavRecipeSearch = document.getElementById('burger-nav-recipes-search')
const burgerNavRecipeAdd = document.getElementById('burger-nav-recipes-add')

burgerNavRecipeTitle.onclick = function() {
    if(burgerNavRecipeSearch.classList.contains('burger-nav-element-content-hidden') ) {
        setBurgerNavSubElsToHidden()
        setSpecificSubElsToRevealed(burgerNavRecipeSubContentEls)
    
    } else {
        setBurgerNavSubElsToHidden()
    }
}

const burgerNavCollectionTitle = document.getElementById('burger-nav-collections-title') 
const burgerNavCollectionSearch = document.getElementById('burger-nav-collections-search')
const burgerNavCollectionAdd = document.getElementById('burger-nav-collections-add')

burgerNavCollectionTitle.onclick = function() {
    if(burgerNavCollectionSearch.classList.contains('burger-nav-element-content-hidden') ) {
        setBurgerNavSubElsToHidden()
        setSpecificSubElsToRevealed(burgerNavCollectionSubContentEls)
    
    } else {
        setBurgerNavSubElsToHidden()
    }
}


const burgerNavMyKitchenTitle = document.getElementById('burger-nav-my-kitchen-title') 
const burgerNavMyKitchenRecipes = document.getElementById('burger-nav-my-kitchen-recipes')
const burgerNavMyKitchenCollections = document.getElementById('burger-nav-my-kitchen-collections')

if(burgerNavMyKitchenTitle) {
    burgerNavMyKitchenTitle.onclick = function() {
        if(burgerNavMyKitchenRecipes.classList.contains('burger-nav-element-content-hidden') ) {
            setBurgerNavSubElsToHidden()
            setSpecificSubElsToRevealed(burgerNavMyKitchenSubContentEls)
        } else {
            setBurgerNavSubElsToHidden()
        }
    }
}

const burgerNavAccountTitle = document.getElementById('burger-nav-account-title') 
const burgerNavAccountProfile = document.getElementById('burger-nav-account-profile')
const burgerNavAccountLogOut = document.getElementById('burger-nav-account-LogOut')

if(burgerNavAccountTitle) {
    burgerNavAccountTitle.onclick = function() {
        if(burgerNavAccountProfile.classList.contains('burger-nav-element-content-hidden') ) {
            setBurgerNavSubElsToHidden()
            setSpecificSubElsToRevealed(burgerNavAccountSubContentEls)
        } else {
            setBurgerNavSubElsToHidden()
        }
    }
}




// Helper Functions

function setBurgerNavSubElsToHidden() {
    Array.from(burgerNavSubContentEls).forEach(element => {
        if(!element.classList.contains('burger-nav-element-content-hidden')) {
            element.classList.remove('burger-nav-element-content-revealed')
            element.classList.add('burger-nav-element-content-hidden')

        }
    })
}

function setSpecificSubElsToHidden(HTML) {
    Array.from(HTML).forEach(element => {
        if(!element.classList.contains('burger-nav-element-content-hidden')) {
            element.classList.remove('burger-nav-element-content-revealed')
            element.classList.add('burger-nav-element-content-hidden')

        }
    })
}

function setSpecificSubElsToRevealed(HTML) {
    Array.from(HTML).forEach(element => {
        if(!element.classList.contains('burger-nav-element-content-revealed')) {
            element.classList.remove('burger-nav-element-content-hidden')
            element.classList.add('burger-nav-element-content-revealed')
        }
    })
}


</script>

