<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% if (stylesheet) { %>
        <link rel="stylesheet" type="text/css" href="<%= stylesheet %>">
    <% } %>
    <link rel="icon" type="image/x-icon" href="/images/Logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,-25" />
    <meta name="google-site-verification" content="wDfijw6MNVShFv79YH98WJ0Vd56WH7Ag4gy99HQvWNU" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
            <nav>
                <div id="main-nav">
                    <a href="/" class="nav-div-logo" class="home"><img src="/images/Logo.png" width="50px" href="/" class="home"></a>

                    <a href="/recipes" class="nav-div" class="recipe">
                        <div class="menu-item">Recipes</div>
                    </a>
                    <a href="/collections" class="nav-div" class="collection">
                        <div class="menu-item">Collections</div>
                    </a>
                    <% if (user) { %>
                    <a href="/" class="empty-nav">
                    </a>
                </div>   
                <div id="login-nav">
                    <a href="/logout" class="nav-div" class="login">
                        <div class="menu-item" class="login">Log Out</div>
                    </a>
                </div> 


            <% } else { %>
                <a href="/" class="empty-nav" class="recipe">
                    <div></div>
                </a>
                <a href="/" class="empty-nav" class="collection">
                    <div></div>
                </a>
                <a href="/auth/google" class="nav-div">
                    <div class="menu-item" class="login">Log In&nbsp;</div><img src="https://i.imgur.com/FHjYyi0.png" height=40px>
                </a>
            <% } %>
            </nav> 
            <br>    
        
