<%- include('./partials/header') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> On this website, you can create, share and save your favourite recipes - from big publishers, small bloggers or your own family secrets!</p>
    <br>
    <h5>Create, share and print your own recipe collections from every trip and for every season!</h5>
    <br>
    <h3>Get Started</h3>
    <form id="login-signup" method="GET" 
      action="/login"><input type="submit" value="Login/Sign up"/>
    </form>
      <br>
    <form id="recipes-button" method="GET" 
      action="/recipes"><input type="submit" value="Go to Recipes"/>
    </form>
    <form id="collections-button" method="GET" 
      action="/collections"><input type="submit" value="Go to Collections"/>
    </form>
    </p>
    <%- include('./partials/footer') %>