<%- include('./partials/header') %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <p> On this website, you can create, share and save your favourite recipes - from big publishers, small bloggers or your own family secrets!</p><br>
  
    <br>
    <br>
    <h3>Get Started</h3>
    <p> Getting started is simple! Just follow these easy steps</p> 
    <ol>
      <li>Add some of your own recipes</li>
      <li>Create a seasonal or thematic collection</li>
      <li>Browse yours, and others' recipes and add them to your collection</li>
      <li>Share and print your recipe collection directly from the app!</li>
    </ol>
    </p>
    <%- include('./partials/footer') %>