<%- include('./partials/header') %>

    <h1><%= title %></h1>

    <h3> Foodio is the place to save, share and print your favourite recipes - from big publishers, small bloggers, or your own family favourites!</h3><br>
  
    <br>
    <br>
    <h3>Get Started</h3>
    <p> Getting started is simple! Just follow these easy steps</p> 
    <ol>
      <li>Add some of your own recipes, or copy them from major publishers</li>
      <li>Add your recipes to a collection - it could be seasonal, themed, trip-related, or any other collection you want! </li>
      <li>Browse yours, and others' recipes, and add them to your collection</li>
      <li>Share and print your recipe collection directly from the app!</li>
    </ol>
    </p>
    <%- include('./partials/footer') %>