<%- include('../partials/header') %>

<title>Create a Collection</title>

<div id="create-collection">
    <div id="create-collection-container">

        <h1>Create a Collection</h1>
        <form method="POST" action="/collections">
            <div id="create-collection-header-container">
                <div id="create-collection-name-container" class="create-collection-header-input-container">
                <div class="create-collection-title">
                    <h3>Title</h3>
                </div>
                <div class="create-collection-content">
                    <textarea name="name" type="text" class="expanding-text-input" rows="1" autocomplete="off"></textarea>
                </div>
                </div>
        
                <div id="create-collection-description-container" class="create-collection-header-input-container">
                <div class="create-collection-title">
                    <h3>Description</h3>
                </div>
                <div class="create-collection-content">
                    <textarea name="description" type="text" class="expanding-text-input" rows="1" autocomplete="off"></textarea>
                </div>
                </div>
            </div>
            
            <div id="create-collection-form-submit">
                <button type="submit" class="reg-button">Create Collection</button>
            </div>
            
        </form>
        <br>
        <br>
    </div>
</div>


<%- include('../partials/footer') %>