<%- include('../partials/header') %>

<h1>Create a Collection</h1>
<form id="add-collection" method="POST" action="/collections">
    <table id="recipe-top-info" class="recipe-info">
        <tr>
            <th>Name: </th>
            <td><input type="text" name="name" class="med-input" autocomplete="off"></input><br>
            <st>Make it descriptive!</st><br></td>
        </tr>
        <tr>
            <th>Description: </th>
            <td><textarea name="description" class="long-input" autocomplete="off"></textarea><br>
            <st>Describe why you think this collection of recipes work well, and what your influence is!<st><br></td>
        </tr>
        <tr>
            <th>Tags: </th>
            <td><input type="text" name="tags" class="med-input" placeholder="Separate tags with a comma" autocomplete="off"></input><br>
            <st>Help others find this collection! Think cuisines, styles, seasons etc.</st><br></td>
        </tr>
    </table>
    <button type="submit" class="reg-button">Create Collection</button>
</form>



<%- include('../partials/footer') %>