<%- include('../partials/header') %>

<h1>Collections</h1>
<form id="create-collection-page-link" method="GET" 
    action="collections/create"><input type="submit" value="Create Collection"/>
</form>

<%- include('../partials/footer') %>