#recipe-edit {
    display: flex;
    justify-content: center;
}
#recipe-edit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#recipe-edit-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

#recipe-edit-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 15%; */
}

.recipe-edit-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: space-evenly;
    flex-grow: 1;
}

.recipe-edit-input-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.recipe-edit-title,
.recipe-edit-content {
    width: 100%
}

.recipe-edit-title > h3 {
    padding: 0;
    margin: 0;
}

.recipe-edit-content {
    display: flex;
    justify-content: space-around;
}

#recipe-edit-ingredients-instructions-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#recipe-edit-ingredients-container,
#recipe-edit-instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recipe-edit-ingredients,
#recipe-edit-instructions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.recipe-edit-ingredient-container,
.recipe-edit-instruction-container { 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 90%
}


.recipe-edit-ingredient-container > ul,
.recipe-edit-instruction-container > ul {
    display: flex;
    flex-grow: 1;
}

.recipe-edit-ingredient-container > ul > li,
.recipe-edit-instruction-container > ul > li {
    display: flex;
    flex-grow: 1;
}

.recipe-edit-ingredient-container > ul > li > input,
.recipe-edit-instruction-container > ul > li > input {
    flex-grow: 1;
}



.ingredient-up,
.ingredient-down,
.ingredient-delete,
.instruction-up,
.instruction-down,
.instruction-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}

.recipe-edit-add-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}


#recipe-edit-footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#recipe-edit-photo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#recipe-edit-image-content {
    display: flex;
    justify-content: center;
    padding: 5%;
}


#no-image-placeholder {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border: #007991 2px solid;
    justify-content: center;
    align-items: center;
}

#no-image-placeholder-overlay-h3,
#no-image-placeholder-overlay-p {
    color:#007991;
    padding: 5%;
}
#recipe-edit-image-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
}

.recipe-edit-photo-button-containers {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.custom-file-upload input[type="file"] {
    display: none;
  }





/* Small Devices (Small Phones) */
@media (min-width: 300px) {
    #recipe-edit-container {
        width: 95%;
    }

    .recipe-edit-header-input-container {
        width: 100%;
    }

    .recipe-edit-ingredients-instructions-container {
        width: 100%
    }
}


/* Handheld Devices (Phones) */
@media (min-width: 576px) {
    #recipe-edit-container {
        width: 95%;
    }

    .recipe-edit-header-input-container {
        width: 100%;
    }

    .recipe-edit-ingredients-instructions-container {
        width: 100%
    }

    .recipe-edit-input-container {
        margin: 0 30px
    }
    
}
  
  /* Medium Devices (Tablets) */
  @media (min-width: 768px) {
    #recipe-edit-container {
        width: 700px;
    }

    .recipe-edit-header-input-container {
        width: 40%;
    }

    .recipe-edit-ingredients-instructions-container {
        width: 50%
    }

    .recipe-edit-input-container {
        margin: 0 30px
    }
}
  
  /* Large Devices (Laptops) */
@media (min-width: 992px) {
    #recipe-edit-container {
        width: 800px;
    }

    .recipe-edit-header-input-container {
        width: 40%;
    }

    .recipe-edit-ingredients-instructions-container {
        width: 50%
    }

    .recipe-edit-input-container {
        margin: 0 30px
    }
}
  
/* Large Devices (Screens) */
@media (min-width: 1200px) {
    #recipe-edit-container {
        width: 1000px;
    }

    .recipe-edit-header-input-container {
        width: 40%;
    }

    .recipe-edit-ingredients-instructions-container {
        width: 50%
    }

    .recipe-edit-input-container {
        margin: 0 30px
    }
}
  
  