#recipe-update {
    display: flex;
    justify-content: center;
}
#recipe-update-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#recipe-update-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

#recipe-update-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 15%; */
}

.recipe-update-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: space-evenly;
    flex-grow: 1;
    align-items: flex-start;
}

.recipe-update-input-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
}

.recipe-update-title,
.recipe-update-content {
    width: 100%
}

.recipe-update-title > h3 {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.recipe-update-content {
    display: flex;
    justify-content: space-around;
}

#recipe-update-ingredients-instructions-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#recipe-update-ingredients-container,
#recipe-update-instructions-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#recipe-update-ingredients,
#recipe-update-instructions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.recipe-update-ingredient-container,
.recipe-update-instruction-container { 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 90%
}

.recipe-update-ingredient-container > ul,
.recipe-update-instruction-container > ul,
.recipe-update-ingredient-container > ul > li,
.recipe-update-instruction-container > ul > li { 
    margin: 0;
    padding: 0;
}


.recipe-update-ingredient-container > ul,
.recipe-update-instruction-container > ul {
    display: flex;
    flex-grow: 1;
}

.recipe-update-ingredient-container > ul > li,
.recipe-update-instruction-container > ul > li {
    display: flex;
    flex-grow: 1;
}

.recipe-update-ingredient-container > ul > li > input,
.recipe-update-instruction-container > ul > li > input {
    flex-grow: 1;
}



.ingredient-up,
.ingredient-down,
.ingredient-delete,
.instruction-up,
.instruction-down,
.instruction-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}

.recipe-update-add-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}


#recipe-update-footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#recipe-update-photo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#recipe-update-image-content {
    display: flex;
    justify-content: center;
    padding: 5%;
    /* flex: 1; */
    overflow: hidden;
}

#recipe-update-image,
#recipe-update-uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover
}


#no-image-placeholder {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border: #007991 2px solid;
    justify-content: center;
    align-items: center;
}

#no-image-placeholder-overlay-h3,
#no-image-placeholder-overlay-p {
    color:#007991;
    padding: 5%;
}
#recipe-update-image-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
}

.recipe-update-photo-button-containers {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.custom-file-upload input[type="file"] {
    display: none;
  }





/* Small Devices (Small Phones) */
@media (min-width: 300px) {
    #recipe-update-container {
        width: 95%;
    }

    .recipe-update-header-input-container {
        width: 100%;
    }
    
    .recipe-update-header-info-container {
        width: 100%;
    }

    .recipe-update-ingredients-instructions-container {
        width: 100%;
        margin-bottom: 3rem
    }

    .recipe-update-title > h3 {
        margin-top: 1rem;
    }

    #recipe-update-image-content {
        /* max-width: 100vw; */
        max-height: 300px;
    }
}


/* Handheld Devices (Phones) */
@media (min-width: 576px) {
    #recipe-update-container {
        width: 95%;
    }

    .recipe-update-header-input-container {
        width: 100%;
    }
    
    .recipe-update-info-container {
        width: 40%;
    }

    .recipe-update-ingredients-instructions-container {
        width: 100%;
        margin-bottom: 3rem
    }

    .recipe-update-input-container {
        margin: 0 30px
    }

    .recipe-update-input-container > p {
        margin-top: 0;
    }

    .recipe-update-title > h3 {
        margin-top: 1rem;
    }

    #recipe-update-image-content {
        /* max-width: 100vw; */
        max-height: 300px;
    }    
}
  
  /* Medium Devices (Tablets) */
  @media (min-width: 768px) {
    #recipe-update-container {
        width: 700px;
    }

    .recipe-update-header-input-container {
        width: 40%;
    }
    
    .recipe-update-info-container {
        width: 40%;
    }

    .recipe-update-ingredients-instructions-container {
        width: 50%
    }

    .recipe-update-input-container {
        margin: 0 30px
    }

    #recipe-update-image-content {
        /* max-width: 100vw; */
        max-height: 300px;
    }
}
  
  /* Large Devices (Laptops) */
@media (min-width: 992px) {
    #recipe-update-container {
        width: 800px;
    }

    .recipe-update-header-input-container {
        width: 40%;
    }
    
    .recipe-update-info-container {
        width: 40%;
    }

    .recipe-update-ingredients-instructions-container {
        width: 50%
    }

    .recipe-update-input-container {
        margin: 0 30px
    }

    #recipe-update-image-content {
        /* max-width: 100vw; */
        max-height: 500px;
    }
}
  
/* Large Devices (Screens) */
@media (min-width: 1200px) {
    #recipe-update-container {
        width: 1000px;
    }

    .recipe-update-header-input-container {
        width: 40%;
    }

    .recipe-update-info-container {
        width: 40%;
    }

    .recipe-update-ingredients-instructions-container {
        width: 50%
    }

    .recipe-update-input-container {
        margin: 0 30px
    }

    #recipe-update-image-content {
        /* max-width: 100vw; */
        max-height: 500px;
    }
}
  
  