#import-recipe-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#import-recipe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#import-recipe-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.import-recipe-link-div {
    margin: 0 15px;
}


#import-recipe-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  .import-recipe-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vh;
    height: 70vh;
    border: #007991 2px solid;
    border-radius: 10px;
    background-color: #71BAC0;
    padding: 20px;
  
  }
  
  #import-recipe-modal-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #import-recipe-modal-logo-container > img {
    max-width: 25%;
  }

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.spin {
    animation: spin 3s linear infinite;
}
  