/* Recipe Show Page */

#recipe-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
  }
  
  #recipe-show-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2.5%;
  }
  
  #recipe-show-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  
  }
  
  #recipe-show-header-photo-container {
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    flex-grow: 1;
  }
  
  .recipe-show-photo {
    justify-self: center;
    width: auto;
    object-fit: contain;
    max-height: auto;
    width: 100%;
    display: block;
  }
  
  #recipe-show-header-info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-wrap: nowrap;
    justify-content: start;
  }
  
  .recipe-show-header-info-sub-container {
    display: flex;
    align-items: start;
  }
  
  .recipe-show-header-info-sub-container-content {
    padding: 0 2.5% 0 2.5%;
    margin: 1%;
    text-align: left;
}



    /* Category, Servings etc. */
#recipe-show-header-info-details-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2.5% 0 2.5%;
    /* margin-left: 5%; */
  }
  
  .recipe-show-header-info-details-sub-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }
  
  .recipe-show-header-info-details-sub-sub-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* flex:  1; */
    flex-grow: 1;
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border:#007991 solid 1px;
  }
  
  .recipe-show-header-info-details-sub-sub-container-title {
    font-weight: bold;
    flex-basis: 50%;
    padding-bottom: 5px;
    margin: 6% 0 0 0; 
  }
  
  .recipe-show-header-info-details-sub-sub-container-content {
    flex-basis: 50%;
    margin: 0 0 6% 0; 
  }


  /* Actions */
#recipe-show-header-actions-container {
  display: flex;
  padding:  5% 0 2.5% 2.5%;
  justify-content: space-between;
  /* border: 1px black solid; */
}

.recipe-show-header-actions-sub-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.recipe-show-header-actions-sub-container-content {
  display: flex;
  margin: 0 3% 0 0;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid black; */
}

#recipe-show-actions-favourite,
#recipe-show-actions-copy,
#recipe-show-header-actions-share,
#recipe-show-header-actions-print {
  flex-grow: 0
}

#recipe-show-header-actions-collection {
  flex-grow: 1;
}

.recipe-show-header-actions-sub-sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#recipe-show-actions-collection-button {
  margin: 0 0 0 10px;
}

#recipe-show-navigation {
  display: flex;
  justify-content: center;
}

#recipe-show-navigation-container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.recipe-show-navigation-button-container {
  margin: 0 0 0 10px;
}  
  




/* Method */
#recipe-show-method-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    width: 100%;
}

.recipe-show-method-container {
    border: 1px solid #007991;
}

.recipe-show-method-container > ul > li,
.recipe-show-method-container > ol > li {
    text-align: left;
    margin: 0 5% 1em 3%;
    padding: 0;
}





/* Small Devices (Small Phones) */
@media (min-width: 300px) {
    #recipe-show-container {
        width: 95%;
    }

    #recipe-show-header-photo-container {
        width: 95%;
    }

    #recipe-show-header-info-container {
        width: 95%;
      }
      
    #recipe-show-method-container {
        justify-content: center;
    }

    .recipe-show-method-container {
        width: 95%;
    }
}

/* Handheld Devices (Phones) */
@media (min-width: 576px) {
    #recipe-show-container {
        width: 95%;
    }

    #recipe-show-header-photo-container {
        width: 33%; 
    }

    #recipe-show-header-info-container {
        width: 67%;
    }
        
    #recipe-show-method-container {
        justify-content: center;
    }

    .recipe-show-method-container {
        width: 95%;
    }
}
  
  /* Medium Devices (Tablets) */
  @media (min-width: 768px) {
    #recipe-show-container {
      width: 700px;
    }
  
    #recipe-show-header-photo-container {
      width: 33%;
    }

    #recipe-show-header-info-container {
        width: 67%;
    }
      
    #recipe-show-method-container {
        justify-content: space-between;
    }

    .recipe-show-method-container {
        width: 48%;
  }
}
  
  /* Large Devices (Laptops) */
@media (min-width: 992px) {
    #recipe-show-container {
      width: 800px;
    }
  
    #recipe-show-header-photo-container {
      width: 33%;
    }
    
    #recipe-show-header-info-container {
      width: 67%;
    }
      
    #recipe-show-method-container {
        justify-content: space-between;
    }

    .recipe-show-method-container {
        width: 48%;
    }
}
  
/* Large Devices (Screens) */
@media (min-width: 1200px) {
    #recipe-show-container {
      width: 1000px;
    }
  
    #recipe-show-header-photo-container {
      width: 33%;
    }
    
    #recipe-show-header-info-container {
      width: 67%;
    }
      
    #recipe-show-method-container {
        justify-content: space-between;
    }

    .recipe-show-method-container {
        width: 48%;
    }
}

#share-modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.7);
}

.share-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vh;
  height: 70vh;
  border: #007991 2px solid;
  border-radius: 10px;
  background-color: #71BAC0;
  padding: 20px;

}

#share-modal-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#share-modal-logo-container > img {
  max-width: 25%;
}

#share-modal-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#share-modal-link-container > input {
  display: flex;
  justify-content: center;
  width: 95%;
}

#share-modal-link-container > h2,
#share-modal-link-container > p {
  margin: 2% 0;
  padding: 2% 0;

}

.share-modal-link-input {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
  
#share-modal-button-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: none;
}

#share-modal-subtitle {
  margin: 1% 0;
  padding: 1% 0;
}

#share-modal-button-container > button {
  max-width: 15%;
  justify-content: center;
  background-color: none;
}

.share-modal-button-containers {
  background-color:  #71BAC0;
  border: none;

}
.share-modal-button-containers > img {
  max-width: 30px;
  max-height: 30px;
}

.share-modal-clipboard-notice {
  margin: 1% 0;
  padding: 1% 0;
}

#share-modal-close {
  margin: 1% 0;
  /* padding: 1% 0; */
}

@media print {
  #nav,
  #burger-nav,
  #recipe-show-header-photo-container,
  #recipe-show-header-actions-container,
  .reg-button {
    display: none;
  }

  body {
    filter: grayscale(100%);
  }

  #body,
  #page-container {
    width: 100%
  }

  #recipe-show-method-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%
  }

  #recipe-show-method-ingredients-container,
  #recipe-show-method-instructions-container {
    max-width: 49%
  }
}