#new-recipe {
    display: flex;
    justify-content: center;
}

#new-recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#new-recipe-explainer {
    border:#007991 1px solid;
}

#new-recipe-import-button {
    display: flex;
    justify-content: center;
}

#new-recipe-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#new-recipe-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 15%; */
}

.new-recipe-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: space-evenly;
    flex-grow: 1;
    align-items: flex-start;
}

.new-recipe-input-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
    margin: 10px;
}

.new-recipe-title,
.new-recipe-content {
    width: 100%;
}

.new-recipe-title > h3 {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.new-recipe-content {
    display: flex;
    justify-content: space-around;
}

#new-recipe-ingredients-instructions-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#new-recipe-ingredients-container,
#new-recipe-instructions-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#new-recipe-ingredients,
#new-recipe-instructions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.new-recipe-ingredient-container,
.new-recipe-instruction-container { 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 90%
}

.new-recipe-ingredient-container > ul,
.new-recipe-instruction-container > ul,
.new-recipe-ingredient-container > ul > li,
.new-recipe-instruction-container > ul > li { 
    margin: 0;
    padding: 0;
}


.new-recipe-ingredient-container > ul,
.new-recipe-instruction-container > ul {
    display: flex;
    flex-grow: 1;
}

.new-recipe-ingredient-container > ul > li,
.new-recipe-instruction-container > ul > li {
    display: flex;
    flex-grow: 1;
}

.new-recipe-ingredient-container > ul > li > input,
.new-recipe-instruction-container > ul > li > input {
    flex-grow: 1;
}



.ingredient-up,
.ingredient-down,
.ingredient-delete,
.instruction-up,
.instruction-down,
.instruction-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}

.new-recipe-add-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}


#new-recipe-footer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#new-recipe-photo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

#new-image-placeholder {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border: #007991 2px solid;
    justify-content: center;
    align-items: center;
}

#new-image-placeholder-overlay-h3,
#new-image-placeholder-overlay-p {
    color:#007991;
    padding: 5%;
    text-align: center;
}

#new-recipe-image-content {
    display: flex;
    justify-content: center;
    padding: 5%;
    /* flex: 1; */
    overflow: hidden;
}

#new-recipe-image,
#new-recipe-uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover
}


#no-image-placeholder {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border: #007991 2px solid;
    justify-content: center;
    align-items: center;
}

#no-image-placeholder-overlay-h3,
#no-image-placeholder-overlay-p {
    color:#007991;
    padding: 5%;
}
#new-recipe-image-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
}

.new-recipe-photo-button-containers {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.custom-file-upload input[type="file"] {
    display: none;
  }





/* Small Devices (Small Phones) */
@media (min-width: 300px) {
    #new-recipe-container {
        width: 95%;
    }

    .new-recipe-header-input-container {
        width: 100%;
    }
    
    .new-recipe-header-info-container {
        width: 100%;
    }

    .new-recipe-ingredients-instructions-container {
        width: 100%;
        margin-bottom: 3rem
    }

    .new-recipe-title > h3 {
        margin-top: 1rem;
    }

    #new-recipe-image-content {
        /* max-width: 100vw; */
        max-height: 300px;
    }
}


/* Handheld Devices (Phones) */
@media (min-width: 576px) {
    #new-recipe-container {
        width: 95%;
    }

    .new-recipe-header-input-container {
        width: 100%;
    }
    
    .new-recipe-info-container {
        width: 40%;
    }

    .new-recipe-ingredients-instructions-container {
        width: 100%;
        margin-bottom: 3rem
    }

    .new-recipe-input-container {
        margin: 0 30px
    }

    .new-recipe-input-container > p {
        margin-top: 0;
    }

    .new-recipe-title > h3 {
        margin-top: 1rem;
    }

    #new-recipe-image-content {
        /* max-width: 100vw; */
        max-height: 300px;
    }    
}
  
  /* Medium Devices (Tablets) */
  @media (min-width: 768px) {
    #new-recipe-container {
        width: 700px;
    }

    .new-recipe-header-input-container {
        width: 40%;
    }
    
    .new-recipe-info-container {
        width: 40%;
    }

    .new-recipe-ingredients-instructions-container {
        width: 50%
    }

    .new-recipe-input-container {
        margin: 0 30px
    }

    #new-recipe-image-content {
        /* max-width: 100vw; */
        max-height: 300px;
    }
}
  
  /* Large Devices (Laptops) */
@media (min-width: 992px) {
    #new-recipe-container {
        width: 800px;
    }

    .new-recipe-header-input-container {
        width: 40%;
    }
    
    .new-recipe-info-container {
        width: 40%;
    }

    .new-recipe-ingredients-instructions-container {
        width: 50%
    }

    .new-recipe-input-container {
        margin: 0 30px
    }

    #new-recipe-image-content {
        /* max-width: 100vw; */
        max-height: 500px;
    }
}
  
/* Large Devices (Screens) */
@media (min-width: 1200px) {
    #new-recipe-container {
        width: 1000px;
    }

    .new-recipe-header-input-container {
        width: 40%;
    }

    .new-recipe-info-container {
        width: 40%;
    }

    .new-recipe-ingredients-instructions-container {
        width: 50%
    }

    .new-recipe-input-container {
        margin: 0 30px
    }

    #new-recipe-image-content {
        /* max-width: 100vw; */
        max-height: 500px;
    }
}
  


#new-recipe-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
  }
  
  .new-recipe-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vh;
    height: 70vh;
    border: #007991 2px solid;
    border-radius: 10px;
    background-color: #71BAC0;
    padding: 20px;
  
  }
  
  #new-recipe-modal-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #new-recipe-modal-logo-container > img {
    max-width: 25%;
  }


@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.spin {
    animation: spin 3s linear infinite;
}