#update-recipe {
    display: flex;
    justify-content: center;
}

#update-recipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#update-recipe-header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

#update-recipe-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 0 15%; */
}

.update-recipe-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: space-evenly;
    flex-grow: 1;
    align-items: flex-start;
}

.update-recipe-input-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 50%;
    margin: 10px;
}

.update-recipe-title,
.update-recipe-content {
    width: 100%
}

.update-recipe-title > h3 {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

.update-recipe-content {
    display: flex;
    justify-content: space-around;
}

#update-recipe-ingredients-instructions-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#update-recipe-ingredients-container,
#update-recipe-instructions-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#update-recipe-ingredients,
#update-recipe-instructions {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.update-recipe-ingredient-container,
.update-recipe-instruction-container { 
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 90%
}

.update-recipe-ingredient-container > ul,
.update-recipe-instruction-container > ul,
.update-recipe-ingredient-container > ul > li,
.update-recipe-instruction-container > ul > li { 
    margin: 0;
    padding: 0;
}


.update-recipe-ingredient-container > ul,
.update-recipe-instruction-container > ul {
    display: flex;
    flex-grow: 1;
}

.update-recipe-ingredient-container > ul > li,
.update-recipe-instruction-container > ul > li {
    display: flex;
    flex-grow: 1;
}

.update-recipe-ingredient-container > ul > li > input,
.update-recipe-instruction-container > ul > li > input {
    flex-grow: 1;
}



.ingredient-up,
.ingredient-down,
.ingredient-delete,
.instruction-up,
.instruction-down,
.instruction-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}

.update-recipe-add-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}


#update-recipe-photo-edit-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#update-recipe-photo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#update-recipe-image-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0;
    overflow: hidden;
}



#update-recipe-image,
#update-recipe-uploaded-image {
    justify-self: center;
    object-fit: cover
}

#no-image-placeholder {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    border: #007991 2px solid;
    justify-content: center;
    align-items: center;
}

#no-image-placeholder-overlay-h3,
#no-image-placeholder-overlay-p {
    color:#007991;
    padding: 5%;
}

#update-recipe-image-selection-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#update-recipe-image-selection-fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: none;
    margin: 2%;
}

.update-recipe-image-selection-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #007991 1px solid;
    padding: 2%;
    margin: 2%;
}

.update-recipe-image-selection-option > p {
    margin: 5px 0;
    padding: 0;
}

#update-recipe-image-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    /* justify-content: center; */
    align-items: center;
    width: 100%
}

.update-recipe-photo-button-containers {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.custom-file-upload input[type="file"] {
    display: none;
  }

.hidden-element {
    display: none;
}



/* Small Devices (Small Phones) */
@media (min-width: 300px) {
    #update-recipe-container {
        width: 95%;
    }

    .update-recipe-header-input-container {
        width: 100%;
    }
    
    .update-recipe-header-info-container {
        width: 100%;
    }

    .update-recipe-ingredients-instructions-container {
        width: 100%;
        margin-bottom: 3rem
    }

    .update-recipe-title > h3 {
        margin-top: 1rem;
    }

    .update-recipe-photo-container{
        width: 100%;
    }

    #update-recipe-image-content,
    #update-recipe-image {
        max-height: 60%;
        max-width: 300px;
    }
}


/* Handheld Devices (Phones) */
@media (min-width: 576px) {
    #update-recipe-container {
        width: 95%;
    }

    .update-recipe-header-input-container {
        width: 100%;
    }
    
    .update-recipe-info-container {
        width: 40%;
    }

    .update-recipe-ingredients-instructions-container {
        width: 100%;
        margin-bottom: 3rem
    }

    .update-recipe-input-container {
        margin: 0 30px
    }

    .update-recipe-input-container > p {
        margin-top: 0;
    }

    .update-recipe-title > h3 {
        margin-top: 1rem;
    }

    .update-recipe-photo-container{
        width: 100%;
    }

    #update-recipe-image-content,
    #update-recipe-image {
        max-height: 50%;
        max-width: 300px;
    }    
}
  
  /* Medium Devices (Tablets) */
  @media (min-width: 768px) {
    #update-recipe-container {
        width: 700px;
    }

    .update-recipe-header-input-container {
        width: 40%;
    }
    
    .update-recipe-info-container {
        width: 40%;
    }

    .update-recipe-ingredients-instructions-container {
        width: 50%
    }

    .update-recipe-input-container {
        margin: 0 30px
    }

    .update-recipe-photo-container{
        max-width: 40%;
    }

    #update-recipe-image-content,
    #update-recipe-image {
        max-height: 30%;
        max-width: 300px;
    }
}
  
  /* Large Devices (Laptops) */
@media (min-width: 992px) {
    #update-recipe-container {
        width: 800px;
    }

    .update-recipe-header-input-container {
        width: 40%;
    }
    
    .update-recipe-info-container {
        width: 40%;
    }

    .update-recipe-ingredients-instructions-container {
        width: 50%
    }

    .update-recipe-input-container {
        margin: 0 30px
    }

    .update-recipe-photo-container{
        max-width: 40%;
    }

    #update-recipe-image-content,
    #update-recipe-image {
        max-height: 40%;
        max-width: 400px;
    }
}
  
/* Large Devices (Screens) */
@media (min-width: 1200px) {
    #update-recipe-container {
        width: 1000px;
    }

    .update-recipe-header-input-container {
        width: 40%;
    }

    .update-recipe-info-container {
        width: 40%;
    }

    .update-recipe-ingredients-instructions-container {
        width: 50%
    }

    .update-recipe-input-container {
        margin: 0 30px
    }

    .update-recipe-photo-container{
        max-width: 40%;
    }

    #update-recipe-image-content,
    #update-recipe-image {
        max-height: 40%;
        max-width: 500px;
    }
}
  
  