
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("/images/Background.png");
  background-size: 100%;
  color: #222E50
}

nav {
  padding: 10px;
  background: #007991;
  position: sticky;
  top: 0;
  border-style: solid;
  border-width: 2px 2px 6px 2px;
  border-color: #71BAC0;
  color: white;
  display: flex;
  justify-content:space-between;
  flex-direction: row;
  z-index: 9999
  
}
.nav-div {
  display: flex;
  color: white;
  margin: 2px;
  font-weight: lighter;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 10px 0 10px;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1.25rem;
  font-weight: lighter;
  cursor: pointer;
}

.nav-div:link {
  text-decoration: none;
  color: white
}

.nav-div:visited {
  text-decoration: none;
  color: white
}

.nav-div:hover {
  background-color: #71BAC0;
  color: white
}

.nav-div:active {
  text-decoration: none;
  color: white
}

.logo {
  grid-area: lgo;
  padding: 0 15px 0 15px;
}

.home:hover {
  grid-area: hom;
}

.home:hover {
  grid-area: hom;
}

.home:hover {
  grid-area: hom;
}

.home:acive {
  grid-area: hom;
}

#main-nav {
  display: flex;
  flex-direction: row;
}

#login-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.recipe {
  grid-area: rcp;
}

.collection {
  grid-area: cltn;
}

h1, h2, h3, h4, h5, h6, p, i, li, td {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  padding: 3px 15px 3px 15px;
}


/* Recipe Cards */

#recipes-container {
  display: flex;
  justify-content: center;    /* Horizontal centering */
}

.recipe-card-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

  /* border: 10px black solid; */
}

/* Small Devices (Phones) */
@media (max-width: 576px) {
  .recipe-card-grid {
    width: 90%;
  }
}

@media (min-width: 576px) {
  .recipe-card-grid {
    width: 90%;
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) {
  .recipe-card-grid {
    width: 90%;
  }
}

/* Large Devices (Laptops) */
@media (min-width: 992px) {
  .recipe-card-grid {
    width: 90%;
  }
}

/* Large Devices (Screens) */
@media (min-width: 1200px) {
  .recipe-card-grid {
    width: 90%;
  }
}

/* Large Devices (Screens) */
@media (min-width: 1500px) {
  .recipe-card-grid {
    width: 60%;
  }
}


.recipe-card-container {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  border: solid 1px black;
  margin: 2%;
  transition: transform 0.3s
}

.recipe-card-container:hover {
    transform: scale(1.05)
}

.recipe-card-container:hover > h1, h2, p {
  cursor: pointer;
  color: #007991;
}

/* Small Devices (Phones) */
@media (max-width: 576px) {
  .recipe-card-container {
    flex: 1 1 90%;
    margin: 4%;
  }
}

@media (min-width: 576px) {
  .recipe-card-container {
    flex: 1 1 90%;
    /* margin: 4%; */
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) {
  .recipe-card-container {
    flex: 1 1 40%;
  }
}

/* Large Devices (Laptops) */
@media (min-width: 992px) {
  .recipe-card-container {
    flex: 1 1 30%;
  }
}

/* Large Devices (Screens) */
@media (min-width: 1200px) {
  .recipe-card-container {
    flex: 1 1 25%;
  }
}

/* Large Devices (XL Screens) */
@media (min-width: 1500px) {
  .recipe-card-container {
    flex: 1 1 25%;
  }
}


.recipe-image {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  margin: 0%;
  border: 0%;
  padding: 0%;
}

.recipe-image > img {
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0%;
  border: 0%;
  padding: 0%;
}

.recipe-title {
  padding: 5%;
}

.recipe-title > h2 {
  padding: 0%;
  margin: 0%;
}


.recipe-author {
  padding-bottom: 5%;
}

.recipe-author > p {
  margin: 0%;
}

.recipe-description {
  margin: 5%;
}

.recipe-description > p {
  margin: 0%;
}


.recipe-about-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  min-width: 100%;
  margin-top: 5%
}


.recipe-about-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-about-time-icon > p {
  padding: 0;
  margin-top: 0;
}

.recipe-about-time-value > p {
  padding: 0;
  margin-top: 0;
}


.recipe-about-servings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-about-servings-icon > p {
  padding: 0;
  margin-top: 0;
}

.recipe-about-servings-value > p {
  padding: 0;
  margin-top: 0;
}



table {
  margin: 3px 15px 3px 15px;
  border: 1px solid;
  padding: 10px;
  align-self: center;
}


thead {
  font-weight: bold;
}

th {
  text-align: left;
}

td {
  text-align: left;
  padding: 0 20px 0 0;
}

.input {
  padding: 5px;
  border: 5px;
  margin: 10px 0 10px 0;
  border: 1px #007991;
}

.short-input {
  width: 45px;
  padding: 5px;
  border: 5px;
  margin: 10px 0 10px 0;
  border: solid 1px #007991;
  
}

.med-input {
  width: 300px;
  padding: 5px;
  border: 5px;
  margin: 10px 0 10px 0;
  border: solid 1px #007991;
}

.long-input {
  width: 500px;
  height: 200px;
  padding: 5px;
  border: 5px;
  margin: 10px 0 10px 0;
  border: solid 1px #007991;
}

.input {
  padding: 5px;
  border: 5px;
  margin: 10px 0 10px 0;
  border: solid 1px #007991;
}

st {
  font-size: .75rem;
  font-style: italic;
}

th {
  padding: 0 3px 0 3px;
  vertical-align: top;
  text-align: left;
}

td {
  vertical-align: top;
  text-align: left;
}





/* Recipe Show Page */

#recipe-info-top-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #71BAC0;

  /* border: 10px black solid; */
}

/* Small Devices (Phones) */
@media (max-width: 576px) {
  .recipe-card-grid {
    width: 90%;
  }
}

@media (min-width: 576px) {
  .recipe-card-grid {
    width: 90%;
  }
}

/* Medium Devices (Tablets) */
@media (min-width: 768px) {
  .recipe-card-grid {
    width: 90%;
  }
}

/* Large Devices (Laptops) */
@media (min-width: 992px) {
  .recipe-card-grid {
    width: 90%;
  }
}

/* Large Devices (Screens) */
@media (min-width: 1200px) {
  .recipe-card-grid {
    width: 90%;
  }
}




.flex-info {
  color: white;
}

.flex-info a:link {
  color: white;
}






a {
  color: #007991
}

a:link {
  text-decoration: none;
  color: #007991
}

a:visited {
  text-decoration: none;
  color: #007991
}

a:hover {
  text-decoration: none;
  color: white
}

a:active {
  text-decoration: none;
  color: #007991
}

.login {
  grid-area: lgin;
  display: flex;
  align-self: flex-end;
  align-content:flex-end;
  align-content: right;
}

.login img {
  grid-area: lgin;
  display:flexbox;
  height: 15px;
  /* display: flex; */
  justify-content: right;
  align-items: right;
}

.delete {
  text-align: center;
}

.reg-button {
  padding: 5px;
  border: 5px;
  margin: 10px 0 10px 15px;
  border: solid 1px #007991;
  background-color: #007991;
  color: white;
}

.reg-button:link {
  text-decoration: none;
  background-color: #71BAC0;
  color: white;
}

.reg-button:visited {
  text-decoration: none;
  background-color: #007991;
  color: white;
}

.reg-button:hover {
  text-decoration: none;
  background-color: white;
  color: #007991;
}

.reg-button:active {
  text-decoration: none;
  background-color: #007991;
  color: white;
}

.delete-button {
  border: solid 1px #007991;
  background-color: #007991;
  color: white;
}

.delete-button:link {
  text-decoration: none;
  background-color: #71BAC0;
  color: white;
}

.delete-button:visited {
  text-decoration: none;
  background-color: #007991;
  color: white;
}

.delete-button:hover {
  text-decoration: none;
  background-color: white;
  color: #007991;
}

.delete-button:active {
  text-decoration: none;
  background-color: #007991;
  color: white;
}



#footer {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  height: 2.5rem;
}

/* .foot {
  padding: 0 0 40px 0;
} */

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

textarea {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}