
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("/images/Background.png");
  background-size: 100%;
  color: #222E50
}

nav {
  padding: 10px;
  background: #007991;
  position: sticky;
  top: 0;
  border-style: solid;
  border-width: 2px 2px 6px 2px;
  border-color: #71BAC0;
  color: white;
  display: grid;
  grid-template-columns: 5fr 10fr 10fr 10fr 55fr 10fr;
  grid-template-areas:
      "lgo hom rcp cltn emty lgin"
      ;
  
}
.nav-div {
  display: flex;
  color: white;
  margin: 2px;
  font-weight: lighter;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 10px 0 10px;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1.25rem;
  font-weight: lighter;
  cursor: pointer;
}

.nav-div:link {
  text-decoration: none;
  color: white
}

.nav-div:visited {
  text-decoration: none;
  color: white
}

.nav-div:hover {
  background-color: #71BAC0;
  color: white
}

.nav-div:active {
  text-decoration: none;
  color: white
}

.logo {
  grid-area: lgo;
  padding: 0 15px 0 15px;
}

.home {
  grid-area: hom;
}

.recipe {
  grid-area: rcp;
}

.collection {
  grid-area: cltn;
}

.empty-nav {
  grid-area: emty;
  width: 100%
}


h1, h2, h3, h4, h5, h6, p, i, table {
  padding: 0 15px 0 15px;
}

a {
  color: #007991
}

a:link {
  text-decoration: none;
  color: #007991
}

a:visited {
  text-decoration: none;
  color: #439A86
}

a:hover {
  text-decoration: none;
  color: E9D985
}

a:active {
  text-decoration: none;
  color: #71BAC0
}

.login {
  grid-area: lgin;
  display: flex;
  align-self: flex-end;
}

.login img {
  grid-area: lgin;
  height: 20px;
  display: flex;
  justify-content: right;
  align-items: right;
}

table {
  border: 1px solid;
  padding: 10px;
}
thead {
  font-weight: bold;
}

th {
  text-align: left;
}

td {
  text-align: left;
  padding: 0 20px 0 0;
}

.delete {
  text-align: center;
}