<%- include('../partials/header') %>

<title>Coming Soon</title>

<div id="coming-soon-page-container">
    <h1>Coming Soon</h1>

    <h3>Unfortunately we can't import that recipe yet, but we're working on it!</h3>

    <p>Would you like to add the recipe manually?</p>

    <a id="add-recipe-page-link" method="GET" href="/recipes/add"><input type="submit" value="Add a Recipe" class="reg-button"/></a>
    <a id="import-recipe-page-link" method="GET" href="/recipes/import"><input type="submit" value="Import another Recipe" class="reg-button"/></a>
    <br>
    <br>
</div>
<%- include('../partials/footer') %>