<%- include('../partials/header') %>

<title>Copy Recipe</title>
<h1>Copy and paste the link to a recipe from the internet</h1>
<p>Currently we only support recipes copied from BBC Good Food</p>

<form id="copy-recipe" method="POST" action="/recipes/copy">
    <input type="text" class="med-input" id="copy" name="recipeLink">
    <br>
    <select name="category" class="input">
        <st>How would you categorise this recipe?</st><br></td>
        <option disabled selected value> -- Select a Category -- </option>
        <option value="Snack">Snack</option>
        <option value="Starter">Starter</option>
        <option value="Side">Side</option>
        <option value="Main Course">Main Course</option>
        <option value="Desert">Desert</option>
        <option value="Cocktail">Cocktail</option>
        </select>
        <br>
    <br>
    <button type="submit" class="reg-button">Import Recipe</button>
</form>

<script>
    document.getElementById('copy-recipe').addEventListener('submit', function(event) {
        const inputVal = document.getElementById('copy').value;

        if (!inputVal.includes('www.bbcgoodfood.com')) {
            alert('We can only support recipes from BBC Good Food at this time"')
            event.preventDefault()
        }
    });
</script>

<%- include('../partials/footer') %>