<%- include('../partials/header') %>

<title>Import Recipe</title>
<div id="import-recipe-page-container">
    <h1>Import a recipe from the internet</h1>
    <p>We support imports from a range of established publishers and bloggers, and we're working on adding more all the time!</p>

    <form id="import-recipe-form" method="POST" action="/recipes/import">
        <br>
        <div id="import-recipe-category">
            <select name="category" class="input">
                <st>How would you categorise this recipe?</st><br></td>
                <option disabled selected value> -- Select a Category -- </option>
                <option value="Snack">Snack</option>
                <option value="Starter">Starter</option>
                <option value="Side">Side</option>
                <option value="Main Course">Main Course</option>
                <option value="Dessert">Dessert</option>
                <option value="Cocktail">Cocktail</option>
            </select>
        </div>
        <br>
        <div id="import-recipe-link">
            <p class="import-recipe-link-div">Link: </p>
            <input type="text" class="med-input import-recipe-link-div" id="import" name="recipeLink">
            <br>
        </div>
        <button id="import-recipe-button" type="submit" class="reg-button">Import Recipe</button>
    </form>
</div>

<div id="import-recipe-modal" class="modal">
    <div class="import-recipe-modal-content">
      <div id="import-recipe-modal-logo-container">
        <img id="import-recipe-modal-logo" class="spin" src="/public/images/Logo.png" alt="Foodio Logo">
      </div>
  
      <div id="import-recipe-modal-link-container">
        <h2>Importing your recipe</h2>
        <h4>Hang tight!</h4>
        <p>There's magic happening in this kitchen...</p>
      </div>
      
    </div>
</div>

<script>
// Get the page
const showPage = document.getElementById('import-recipe-page-container');
  
// Get the nav
const nav = document.getElementById('nav');

// Get the modal
const modal = document.getElementById('import-recipe-modal');

// Get the button that opens the modal
const saveButton = document.getElementById('import-recipe-button');

// When the user clicks the import button, open the modal
saveButton.onclick = function() {
  nav.style.display = 'none';
  modal.style.display = 'flex';
}

// When the user clicks on <span> (x), close the modal
closeBtn.onclick = function() {
  modal.style.display = 'none';
  nav.style.display = 'flex';
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = 'none';
    nav.style.display = 'flex';
  }
}

  </script>

<%- include('../partials/footer') %>