<%- include('../partials/header') %>

<h1>New Recipe</h1>
<form id="add-recipe" method="POST" action="/recipes">
    Name: <input type="text" name="name"></input><br>
    Description: <input type="text" name="description"></input><br>
    Category: <select name="category">
        <option disabled selected value> -- Select a Category -- </option>
        <option value="starter">Snack</option>
        <option value="starter">Starter</option>
        <option value="main">Main Course</option>
        <option value="desert">Desert</option>
        <option value="starter">Cocktail</option>
    </select><br>
    Tags (separated by comma): <input type="text" name="tags"></input><br>
    <i>Consider using the type of cuisine, or dish or any other relevant tag e.g. 'italian' 'pizza' or 'summer'.</i>
    
    <br>
    <br>
    Prep Time (mins): <input type="number" name="prepTime"></input><br>
    Cook Time (mins): <input type="number" name="cookTime"></input><br>
    # Adult Servings: <input type="number" name="servings"></input><br>
    <br>
    <button type="submit">Add Ingredients</button>
</form>

<%- include('../partials/footer') %>