<%- include('../partials/header') %>

<title>New Recipe</title>
<h1>New Recipe</h1>

<h1>Recipe & Preparation Info</h1>
<form id="add-recipe" method="POST" action="/recipes">
    <table id="recipe-top-info" class="recipe-info">
        <tr>
          <th>Name: </th>
          <td><input type="text" name="name" class="med-input" autocomplete="off"></input><br>
          <st>Make it snappy!</st><br></td>
        </tr>
        <tr>
          <th>Description: </th>
          <td><textarea type="text" name="description" class="long-input" autocomplete="off"></textarea><br>
            <st>Tell the world where you found this recipe, when you serve it and why you love it!</st><br></td>
        </tr>
        <tr>
            <th>Category: </th>
            <td>
                <select name="category" class="input">
                <option disabled selected value> -- Select a Category -- </option>
                <option value="Snack">Snack</option>
                <option value="Starter">Starter</option>
                <option value="Main Course">Main Course</option>
                <option value="Desert">Desert</option>
                <option value="Cocktail">Cocktail</option>
                </select>
                <br>
                <st>How would you categorise this recipe?</st><br></td>
        </tr>
      </table>
    <br>
    <br>
    <table id="recipe-bottom-info" class="recipe-info">
        <tr>
          <th>Prep Time (mins): </th>
          <td><input type="number" name="prepTime" class="short-input" autocomplete="off"></input><br>
            <st>How long does it take you to prepare the ingredients for this recipe?</st><br></td>
        </tr>
        <tr>
          <th>Cook Time (mins): </th>
          <td><input type="number" name="cookTime" class="short-input" autocomplete="off"></input><br>
            <st>How long does it take you to make this recipe?</st><br></td>
        </tr>
        <tr>
            <th># Adult Servings: </th>
            <td><input type="number" name="servings" class="short-input" autocomplete="off"></input><br>
              <st>How many people will the ingredients serve?</st><br></td>
        </tr>
      </table>
    <br>
    <button type="submit" class="reg-button">Save Recipe Info</button>
</form>
<br>
<br>



<%- include('../partials/footer') %>